.collection {
  position: relative;
  flex: 1;
  display: grid;
  background-size: cover;
  font-size: 32px;
}

.collection > img {
  z-index: -1;
  object-fit: cover;
}

.title {
  margin-left: 5vw;
  margin-bottom: 20px;
}
